<ion-header>
  <ion-toolbar>
    <ion-title>SHOPING CENTER</ion-title>
  </ion-toolbar>
</ion-header>
<ion-avatar class="avatar">
  <img class="avatar-login" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>
<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre de usuario o correo electrónico</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button expand="full">Iniciar sesión</ion-button>
</ion-content>
