<ion-header>
  <ion-toolbar>
    <ion-title>Formulario de Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full">Guardar Cliente</ion-button>
</ion-content>
